<!DOCTYPE html>
<html lang="en">
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/loading">Dashboard</a>
                <div class="navbar" id="navbarNav">
                    <ul class="navbar-nav border rounded-sm">
                        <li class="nav-item active">
                            <a class="nav-link" href="/all_comments">Comments and Replies</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/submit">Submit Page</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="logout" tabindex="-1">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    <body>
</html>