<!DOCTYPE html>
<html lang="en">
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/loading">Dashboard</a>
                <div class="navbar" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="wip">Recently Viewed <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/all_comments">Comments and Replies</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/submit">Submit Page</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="logout" tabindex="-1">Logout</a>
                        </li>
                    </ul>
                    <form class="form-inline my-1 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search for what?" aria-label="Search">
                        <button class="btn btn-outline-light my-2 my-md-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div>
    <body>
</html>