<!DOCTYPE html>
<html lang="en">
    <head>
    {% include 'partials/header.html' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" type="text/css">
        <title>My Account</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="container"
                <h4>This is a placeholder for something way cooler. Maybe...</h4>
                {% include 'partials/navbar.html' %}
                <div class="row">
                    <div class="col"
                        <nav class="nav flex-column">
                            <a class="nav-link" href="wip">Login and Security</a>
                            <a class="nav-link" href="wip">Settings</a>
                            <a class="nav-link" href="wip">How-To's</a>
                            <a class="nav-link" href="wip">Following</a>
                            <a class="nav-link" href="logout">Logout</a>
                        </ul>
                    </div>
                    <div class="col">
                        <h3><a href="recentPage">Continue...</a></h3>
                        <a href="">
                            <img src="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>