<!DOCTYPE html>
<html lang="en">
    <head>
    {% include 'partials/header.html' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" type="text/css">
        <title>My Account</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="container"
                <h4>This is a placeholder for something way cooler. Maybe...</h4>
                {% include 'partials/navbar.html' %}
                    {% if messages %}
                    <div class="text-light">
                        {% for message in messages %}
                        <h4 {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h4>
                        {% endfor %}
                    </div>
                    {% endif %}
                <div class="row">
                    <div class="col border rounded-sm mt-3 mb-3">
                        <nav class="nav flex-column mt-3 ">
                            <a class="nav-link alert-danger alert" href="delete">Delete a Comic Book</a>
                            <a class="nav-link alert-secondary alert" href="editpage">Edit User Profile</a>
                            <a class="nav-link alert-secondary alert" href="#">How-To's</a>
                            <a class="nav-link alert-secondary alert" href="#">Following</a>
                            <a class="nav-link alert-primary alert" href="logout">Logout</a>
                        </ul>
                    </div>
                    <div class="col">
                        {% if comics %}
                        <div class="border rounded-sm mt-3 mb-3 p-3">
                            {% for comic in comics %}
                            <h3 class="border rounded-sm"><a href="viewpage/{{ comic.book_title }}/1"><strong>{{ comic.book_title }}</strong></a></h3>
                            <a href="viewpage/{{ comic.book_title }}/1">
                                <img class="p-3" src="{{ comic.cover_art.url }}">
                            </a>
                                <div>
                                {% for page in pages %}
                                    <a href="viewpage/{{ comic.id }}/{{ page.page_no }}">
                                        <button class="btn btn-outline-primary">Page:{{ page.page_no }}</button>
                                    </a>
                                {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>