<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        
    </nav>
    <div class="row">
        <div class="container">
            <ul>
                <li><a href="edit">Login and Security</a></li>
                <li><a href="">Settings</a></li>
                <li><a href="">How-To's</a></li>
                <li><a href="">Following</a></li>
                <li><a href="logout">Logout</a></li>
        </div>
        <div class="container">
            <h3><a href="recentPage">Continue...</a></h3>
            <a href="">
                <img src="">
            </a>
        </div>
    </div>
</body>
</html>