<!DOCTYPE html>
<html>
    <head>
    {% include 'partials/header.html' %}
        <title>Deleting stuff</title>
    </head>
    <body>
    {% include 'partials/navbar.html' %}
        <div class="container">
            <div class="alert-danger alert">
                <h4>Delete Comic Book</h4>
                {% for comic in comics %}
                    <a href="deleteCom/{{ comic.id }}"><button class="btn btn-warning"> {{ comic.book_title }}</button></a>
                {% endfor %}
            </div>
        </div>
        <div class="container">
            <div>
                <form action="deletepage" method="POST">
                {% csrf_token %}
                    <label for="comic_id">First select a book:</label>
                    <select id="comic_id" name="comic_id">
                    {% for comic in comics %}
                        <option value="{{ comic.id }}">{{ comic.book_title }}</option>
                    {% endfor %}
                    </select>
                    <button class="btn btn-warning">Select</button>
                </form>
            </div>
            {% if pages %}
            <div>
                <form action="selectpages" method="POST">
                {% csrf_token %}
                    <h3>{{ pages.comicRef.book_title }}</h3>
                    {% for page in pages %}
                    <label for="page_id">{{ page.page_no }}</label>
                    <input type="checkbox" value="{{ page.id }}" id="page_id" name="page_id">
                    {% endfor %}
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            {% endif %}
        </div>

    </body>
</html>