<!DOCTYPE html>
<html lang="en">
    <head>
    {% include 'partials/header.html' %}
        <title>Main Page</title>
    </head>
    <body>
        <div class="container text-light">
            <div class="row">
                <div class="col-5">
                    <form action="/register" method="post">
                    {% csrf_token %}
                        <h4>Registration Info</h4>
                        <div class="col">
                            <input type="text" placeholder="First Name" name="first_name" id="first_name">
                        </div>                    
                        <div class="col">
                            <input type="text" placeholder="Last Name" name="last_name" id="last_name">
                        </div>
                        <div class="col">
                            <input type="email" placeholder="Email Here" name="email" id="email">                            </div>
                        <div class="col">
                            <input type="password" placeholder="Password" name="pwd" id="pwd" required>
                        </div>
                        <div class="col">
                            <input type="password" placeholder="Password Confirm" name="pwd_confirm" id="pwd_confirm" required>
                        <div class="col">
                            <button class="btn btn-primary">Register Now!</button>
                        </div>
                    </form>
                    <hr>
                </div>
                <div class="col-5">
                    <form action="/login" method="post">
                    {% csrf_token %}
                        <fieldset>
                            <legend>Login Info</legend>
                            <div class="col">
                                <input type="email" placeholder="Email Here" name="email" id="email">
                            </div>
                            <div class="col">
                                <input type="password"  placeholder="Password Here" name="pwd" id="pwd">
                            </div>
                            <div class="col">
                                <button class="btn btn-success">Login</button>
                            </div>
                            
                        </fieldset>
                    </form>
                    <hr>
                </div>
            <div>
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li {% if message.tags %} class="{[ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </body>
</html>