<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'partials/header.html' %}
        <title>Settings</title>
    </head>
    <body>
        <div>
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        Error: {{ error }}
        {% endfor %}
        {% endfor %}
        {% endif %}
        </div>
        <h3>Change Password:</h3>
        <form action="edit" method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Submit!</button>
        </form>
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    </body>
</html>