<!DOCTYPE html>
<html lang="en">
    <head>
    {% include 'partials/header.html' %}
        <title>My Comments</title>
    </head>
    <body>
    {% include 'partials/navbar.html' %}
        <div class="container">
            <div class="row">
            {% if comments %}
                <div class="col p-2 mr-2">
                    {% for comment in comments %}
                    <div class="text-dark border rounded-sm p-2">
                        <p><strong>"{{ comment.comment }}"</strong></p>
                        <p>By: <em>{{ comment.name }}</em></p>
                        <a href="deleteComment/{{comment.id}}">
                            <button class="btn btn-danger">Delete</button>
                        </a>
                        <hr>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
            </div>
        </div>
    </body>
</html>