<!DOCTYPE html>
<html lang="en">
    <head>
    {% include 'partials/header.html' %}
        <title>My Comments</title>
    </head>
    <body>
    {% include 'partials/navbar.html' %}
        <div class="container">
        {% if comments %}
            <div class="row">
                {% for comment in comments %}
                <p>{{ comment.comment }}</p>
                <p>{{ comment.comRef }}</p>
                <hr>
                {% endfor %}
            </div>
        {% endif %}
        </div>
    </body>
</html>